header{
  background-color: #000000;
  width: 100%;
}

.promo {
  background-color: #f037a5;
  color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

.signup{
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #ddd;
  border: none;
  box-shadow:  0 .5rem 1rem rgba(143, 142, 142, 0.15) ;
  background: #000000;
}

button:hover {
  background: #2b2a2a;
 }

.verplanos {
  
}
.planos {
  display: flex;
  flex-direction: row;
}

.individual {
  width: 200px;
  height: 254px;
  background: none;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
  box-shadow: .4rem .4rem;
  overflow: hidden;
}

.duo {
  width: 200px;
  height: 254px;
  background: none;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
  box-shadow: .4rem .4rem;
  overflow: hidden;
}

.familia {
  width: 200px;
  height: 254px;
  background: none;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
  box-shadow: .4rem .4rem;
  overflow: hidden;
}
