@font-face {
  font-family: montserrat-bold;
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat-Regular.ttf);
}
/** Estilos da Header **/
header{
  background-color: #000000;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/** Logo da Header - Spotify**/
.imgwhite {
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/** Links da Header e termos **/
.aheader {
  color: #fdfdfd;
  text-decoration: none;
}
/** Links da Header **/
.links {
  display: flex;
  flex-direction: row;
  margin-left: 800px;
  margin-top: 30px;
  margin-bottom: 20px;
}
/** Links da Header **/
.link-top{
  color: #fdfdfd;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  cursor: pointer;
}
/** Estilos do Body **/
body{
  margin: 0px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.promo {
  display: flex;
  flex-direction: column;
  background-color: #f037a5;
  color: #fdfdfd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

.signup{
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #fdfdfd;
  border: none;
  box-shadow:  0 .5rem 1rem rgba(143, 142, 142, 0.15) ;
  background: #000000;
}

.signup:hover {
  background: #2b2a2a;
 }

.verplanos {
  font-size: 1rem;
  align-items: center;
  height: 48px;
  margin-left: 10px;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #000000;
  border: #fdfdfd;
  border-width: 2rem;
  box-shadow:  0 .5rem 1rem rgba(143, 142, 142, 0.15) ;
  background: none;
}

.verplanos:hover {
  background: #80ed99;
 }

.promotitle {
  margin-top: 30px;
  margin-left: 70px;
}

.botoespromo {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}

.termos{
  font-size: 12px;
  color: #fdfdfd;
  margin-left: 70px;
  margin-bottom: 35px;
}

.premium {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.premiumtitle {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-top: 50px;
  margin-left: 470px;
}

.motivos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.lip {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.imgpremium {
  display: flex;
  height: 50px;
  margin-left: 70px;
  margin-bottom: 60px;
}

.planos {
  background-color: #edede9;
  margin-top: 30px;
  padding: 0px 10px 50px 10px;
}

.planotitle {
  background-color: #edede9;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.card-plano {
  align-items: center;
  width: 100%;
  height: 500px;
  margin-right: 10px;
  margin-left: 25px;
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem;
  overflow: hidden;
  background-color: #fdfdfd;
}

.botaoplano {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

footer {
  background-color: #000000;
  width: 100%;
  height: 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fdfdfd;
  text-align: center;
  padding-top: 30px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.faq-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0px 5% 0px 5%
}

.card{
  /*border: 1px solid blue;margin-bottom: 10%;*/
  margin-bottom: 30px;
  max-width: 500px;
  min-width: 250px;
  height: 300px;
}

/** formulario signup / inscreva-se **/

.formstitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 1rem;
  font-family: montserrat-bold;

}

.dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px 5px 5px;
  font-size: 0.975rem;
  font-family: montserrat;
  
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

.formslabel {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: montserrat-bold;
}

.p-perfil {
  font-family: montserrat-bold;
  font-size: 12px;
  color: #363636;
  margin-left: 0px;
  margin-top: 5px;
}

.plgpd {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: #363636;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input {
  font-weight: 400;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 100px;
  border: 1px 1px 1px 1px solid #e5e5e5 ;
}

.input:focus {
  border-bottom: 1px solid #6941c6;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.inscrevase {
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #000000;
  border: none;
  box-shadow:  0 .5rem 1rem rgba(143, 142, 142, 0.15) ;
  background: #00FF7F;
}

.inscrevase:hover {
  cursor: pointer;
  background: #00FF7F;
 }


.enfase{
  text-align: center;
  font-family: montserrat-bold;
  font-size: 50px;
}

.title{
  font-family: montserrat-bold;
}

.text{
  margin-top: 20px;
  font-family: montserrat;
}
.link-footer{
  color: #32a852;
}